@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e4dbe6;
  flex-direction: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}

nav h1 {
  font-family: "Lemonada";
  color: #24616d;
  font-size: 30px;
}

nav span {
  color: #569009;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #100e10;
  font-size: 18px;
  font-weight: 500;
}
nav ul li a:hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#landing {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.text-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#landing h1 {
  font-size: 40px;
  font-weight: 700;
}

#landing p {
  font-size: 22px;
}

#landing .button-hero {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px;
  background-color: #24616d;
  border: 0.01px solid #24616d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  color: #f3fcfd;
}

#landing .button-hero:hover {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px;
  background-color: #f3fcfd;
  border: 0.01px solid #24616d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  color: #24616d;
}

#landing .button-hero a {
  text-decoration: none;
  font-size: 16px;
}

#landing .button-hero a:hover {
  text-decoration: none;
  font-size: 16px;
}

#landing img {
  width: 50%;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#landing,
#alasan,
#paket,
#galeri,
#testimoni,
#tentang-kami {
  margin-bottom: 80px;
}

.article-title {
  text-align: center;
  margin-bottom: 50px;
}

.article-title h1 {
  font-size: 35px;
}

.article-title p {
  font-size: 18px;
}

#alasan {
  color: #100e10;
}

.all-alasan {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.box {
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  flex-basis: 25%;
}

.box i {
  font-size: 70px;
  color: #24616d;
  margin-bottom: 15px;
}

.box img {
  width: 100px;
  display: block;
  margin: auto;
}

.all-harga {
  display: flex;
  flex-direction: row;
}

.list-harga {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #8e4181;
  color: #f3fcfd;
  padding: 15px;
  border-radius: 5px;
}

.paket1 {
  flex-basis: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.paket2 {
  flex-basis: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.paket3 {
  flex-basis: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nama-paket {
  padding: 5px;
  margin-right: 10px;
}

.harga {
  padding: 5px;
}

.list-harga h3 h1 {
  color: #100e10;
}

.all-galeri {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galeri-box {
  flex-basis: 20%;
  margin-bottom: 10px;
  cursor: pointer;
}

.galeri-box img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.testimoni h1 {
  color: #100e10;
  text-align: center;
}

.all-testimoni {
  display: flex;
  /* margin: 5px; */
  color: #f3fcfd;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-testimoni .card {
  border-radius: 5px;
  padding: 20px;
  background-color: #8e4181;
  flex-basis: 33%;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.all-testimoni .card h4 {
  margin-top: 15px;
  text-align: right;
  font-size: 18px;
}

#tentang-kami .all-about {
  display: flex;
  flex-direction: row;
  color: #f3fcfd;
  border-radius: 10px;
  justify-content: space-between;
}

#tentang-kami .information {
  display: flex;
  background-color: #8e418e;
  border-radius: 10px;
  flex-basis: 70%;
  margin-right: 10px;
  flex-direction: row;
  height: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cukurin-aja {
  padding: 20px 20px 40px 40px;
  flex-basis: 50%;
}

.cukurin-aja img {
  width: 180px;
  border-radius: 5px;
}

.cukurin-aja p {
  text-align: justify;
}

.informasi-cukurin {
  padding: 20px 20px 40px 20px;
  flex-basis: 50%;
}

.informasi-cukurin h2 {
  padding: 10px 0px;
}

.informasi-cukurin .detail {
  display: flex;
  margin-bottom: 15px;
}

.informasi-cukurin .detail i {
  font-size: 24px;
  margin-right: 10px;
}

#biodata {
  background-color: #411d41;
  padding: 20px 20px;
  border-radius: 10px;
  flex-basis: 30%;
  color: #f3fcfd;
  height: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#biodata h2 {
  padding: 10px 0px;
  text-align: center;
}

#biodata h3 {
  font-size: 26px;
}

#biodata .name {
  text-align: center;
}

.overview {
  margin-top: 20px;
}

.foto-profil img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  padding-bottom: 20px;
}

.detail {
  margin-bottom: 10px;
}

.overview p {
  margin-bottom: 15px;
}

footer {
  color: #100e10;
  text-align: center;
  padding: 20px;
  border-top: 0.5px solid #abb6b9;
  font-size: 18px;
}

@media screen and (max-width: 575px) {
  body {
    width: none;
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  #landing,
  #alasan,
  #paket,
  #galeri,
  #testimoni,
  #tentang-kami {
    margin-bottom: 40px;
  }
  #landing {
    margin-top: 10px;
  }
}

@media screen and (min-width: 576px) {
  body {
    width: 540px;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  #landing {
    margin-top: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    width: 720px;
    margin: 0 auto;
  }

  nav ul li a {
    text-decoration: none;
    color: #100e10;
    font-size: 16px;
    font-weight: 500;
  }
}

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  body {
    width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  body {
    width: 1320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  nav ul li:nth-child(1) {
    margin-left: 0px;
  }
  .all-harga {
    display: flex;
    flex-direction: column;
  }
  #landing {
    flex-direction: column;
  }

  #landing img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  #tentang-kami .all-about {
    display: flex;
    flex-direction: column;
    color: #f3fcfd;
    border-radius: 10px;
  }

  #tentang-kami .information {
    display: flex;
    background-color: #569099;
    border-radius: 10px;
    margin: auto;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .all-galeri {
    justify-content: space-around;
  }

  #biodata {
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) {
  .all-alasan {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    flex-basis: 40%;
  }
  #tentang-kami .information {
    display: flex;
    background-color: #569099;
    border-radius: 10px;
    margin: auto;
    flex-direction: column;
  }
  .cukurin-aja,
  .informasi-cukurin {
    padding: 20px;
  }
  .all-testimoni .card {
    border-radius: 5px;
    padding: 20px;
    background-color: #569099;
    flex-basis: 49%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 801px) {
  .galeri-box img {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .all-alasan {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .all-testimoni .card {
    border-radius: 5px;
    padding: 20px;
    background-color: #569099;
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 601px) {
  .galeri-box img {
    width: 150px;
  }
}
